:root {
    --bc: #ffffff;
    --primary: #ffffff;
    --white: #ffffff;
    --black: #000000;
    /* Colors */
    --red: #da2c4d;
    --orange: #fd7e14;
    --yellow: #f8ab37;
    --yellow-bright: #ffc107;
    --light-green: #24e33a;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    /* Gray Colors */
    --bc-gray: #ede8e4;
    --gray: #9e9d9b;
    --gray-dark: #1c1a19;
    /* Gradients */
    /* Sizes */
    --heading: 3.4rem;
    --heading-large: 7.5rem;
    --heading-medium: 2rem;
    --paragraph: 1.1rem;
    --button-large: 1.6rem;
    --button: 1.22rem;
    /* Fonts */
    --font-main: "Asap";
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    font-family: var(--font-main);
    background-color: var(--bc);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
header {
    height: 80vh;
    width: 100%;
    background-color: var(--gray);
    position: relative;
    display: grid;
    place-items: center;
}
li {
    padding: 1%;
    list-style: none;
 }
/* Classes */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-left-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flexbox-right-start {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.flexbox-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox-col-left-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
}
.ehh {
    width: 80%;
    position: relative;
    left: 10%;
}
.wide {
    width: 80%;
    margin: 1%;
    padding: 1%;
}
.wide li {
    width: 100%;
    padding: 0;
}
.heading {
    font-size: calc(var(--heading) + 3rem);
    margin: 0;
}
.par {
    font-size: var(--paragraph);
    margin: 0;
    text-align: center;
}
.boxit {
    width: 100%;
    min-height: 1vh;
    border-radius: 10px;
    background-color: darkgray;
    padding: 0.5%;
}
.klasse {
    font-size: calc(var(--paragraph) + 1rem);
    padding: 0 18%;
}
/* Elev text */
.elev .elevtext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    font-size: var(--paragraph);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    width: 100%;
}
.profilbilde {
    width: 75px;
    height: 75px;
}
.høyre {
    top: -1%;
    left: 105%;
}
.venstre {
    top: -1%;
    right: 105%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.elev:hover .elevtext {
    visibility: visible;
}
.knapp {
    border-radius: 20px;
    border: solid var(--black) 1px;
    background-color:  var(--cyan);
    text-align: center;
    font-size: var(--paragraph);
    text-decoration: none black;
    cursor: pointer;
    width: 125%;
    height: 125%;
}
.elev {
    font-size: calc(var(--heading-large) - 2rem);
    position: relative;
    display: inline-block;
    width: 80%;
}
.grid-container {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    padding: 5%;
}

/* @media rules */
@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading: 3rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading: 2.8rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading: 2.4rem;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading: 2.2rem;
    }
}
@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --heading: 1.75rem;
    }
}
