/* -

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●

　. 　　　　　　　　　　　　　　　　　　o 　　　　　+

　　()　　　　　　+　　 Made with ❤ by ~

　　　　　o 　　　　　Areal Alien ❥ 雷克斯　　　　.

　　.　　　　　　　　　　　.

　　　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()

　　+　　　　　　. 　　　　　　　　　　　　　　o

　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+

　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.

　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄

　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o

　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

- */

:root {

    --bc: #fcf1ec;

    --bc-darker: #ede2dd;

    --bc-secondary: #04020a;

    --primary: #da2c4d;

    --white: #ffffff;

    --black: #000000;

    /* Colors */

    --red: #da2c4d;

    --orange: #fd7e14;

    --yellow: #f8ab37;

    --yellow-bright: #ffc107;

    --light-green: #24e33a;

    --green: #28a745;

    --teal: #20c997;

    --cyan: #17a2b8;

    --blue: #007bff;

    --indigo: #6610f2;

    --purple: #6f42c1;

    --pink: #e83e8c;

    /* Gray Colors */

    --gray: #9e9d9b;

    --gray-dark: #343a40;

    /* Gradients */

    --bc-gradient: linear-gradient(-45deg, #c7eafe, #c7e6fc, #c7e2fa, #c7def7, #c8daf4, #c9dbf4, #cadcf4, #cbddf4, #cde2f7, #d0e8fa, #d4edfd, #d8f2ff);

    --gradient: linear-gradient(-45deg, #fcbc45, #fcaa45, #fc9a45, #fc8b45, #fc7c45, #fc7345, #fc6d45, #fc6045, #fc5745, #fc454b);

    --gradient2: linear-gradient(45deg, #da2c4d, #a02257, #63214e, #2e1933, #04020a);

    /* Sizes */

    --heading: 3.4rem;

    --heading-large: 7.5rem;

    --heading-medium: 2rem;

    --paragraph: 1.1rem;

    --button-large: 1.6rem;

    --button-small: 1.2rem;

    /* Fonts */

    --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    --font-secondary: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --font-slim: "Roboto";

    --font-poppins: "Poppins";

}

* {

    box-sizing: border-box;

}

html, body {

    margin: 0;

    font-family: var(--font-main);

    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;

    background-color: var(--bc-secondary);

}

main {

    width: 100%;

    position: relative;

}

h1 {

    color: var(--white);

    font-size: var(--heading);

}

h2 {

    color: var(--white);

    font-size: var(--heading-medium);

}

p {

    color: var(--white);

    font-size: var(--paragraph);

}

/* -

-*-~*~-*-*-~*~-*-*-~*~-* |

　　　　　　Classes　　　　　|

-*-~*~-*-*-~*~-*-*-~*~-* |

- */

/* Loading */

.pace {

    pointer-events: none;

    -webkit-user-select: none;

    -moz-user-select: none;

    user-select: none;

}

.pace-inactive {

    display: none;

}

.pace .pace-progress {

    background: var(--primary) !important;

    background-size: 500% !important;

    position: fixed;

    z-index: 2000;

    top: 0;

    right: 100%;

    width: 100%;

    height: 2px;

}

/* Global classes */

.space {

    min-height: 10vh;

}

/* Flexbox */

.flexbox {

    display: flex;

    justify-content: center;

    align-items: center;

}

.flexbox-left {

    display: flex;

    justify-content: flex-start;

    align-items: center;

}

.flexbox-right {

    display: flex;

    justify-content: flex-end;

    align-items: center;

}

.flexbox-col {

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: center;

}

.flexbox-col-left {

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: flex-start;

}

.flexbox-space {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

/* Navbar */

#navbar {

    top: 0;

    width: 100%;

    height: 4.8em;

    padding: 0 2.4em;

    position: fixed;

    z-index: 100;

}

/* nav Items */

.nav-items-wrapper {

    width: calc(100% - 30px);

    position: relative;

}

/* Nav Button */

#nav-button {

    margin: 0;

    width: 30px;

    height: 22px;

    position: relative;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -o-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    transition: .35s cubic-bezier(.175,.685,.32,1.075);

    cursor: pointer;

    z-index: 110;

}

#nav-button span {

    display: block;

    position: absolute;

    height: 2px;

    width: 100%;

    background: var(--primary);

    border-radius: 19px;

    opacity: 1;

    left: 0;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -o-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    transition: .35s cubic-bezier(.175,.685,.32,1.075);

}

#nav-button span:nth-child(1) {

    top: 0;

    width: 100%;

}

#nav-button span:nth-child(2),#nav-button span:nth-child(3) {

    top: 11px;

    width: 50%;

}

#nav-button span:nth-child(4) {

    top: 22px;

    width: 75%;

}

#nav-button.open span:nth-child(1) {

    top: 18px;

    width: 0;

    left: 50%;

}

#nav-button.open span:nth-child(2) {

    width: 100%;

    -webkit-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    transform: rotate(45deg);

}

#nav-button.open span:nth-child(3) {

    width: 100%;

    -webkit-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    -o-transform: rotate(-45deg);

    transform: rotate(-45deg);

}

#nav-button.open span:nth-child(4) {

    top: 18px;

    width: 0;

    left: 50%;

}

/* Menu */

#menu {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    position: fixed;

    background-color: rgba(0, 0, 0, .5);

    pointer-events: none;

    opacity: 0;

    transition: opacity .2s ease-in-out;

    z-index: 50;

}

#menu a {

    margin: 1em 0;

    line-height: 0;

    font-size: var(--heading);

    font-family: var(--font-poppins);

    color: var(--white);

    text-decoration: none;

    transition: color .2s ease-in-out;

    cursor: pointer;

}

#menu a:hover {

    color: var(--primary);

}

#menu a::after {

    border-bottom: .1em solid var(--primary);

    content: '';

    display: block;

    position: relative;

    left: -2.5%;

    top: 0;

    transition: width .2s ease-in-out;

    width: 0;

}

#menu a:hover::after {

    width: 105%;

}

/* Header */

#header {

    width: 100%;

    height: 75vh;

    position: relative;

    overflow: hidden;

}

.header-content {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    position: absolute;

    z-index: 10;

}

.header-title {

    position: relative;

    color: var(--white);

    letter-spacing: -.1275em;

    font-family: var(--font-poppins);

    font-size: calc(var(--heading) + 4.8rem);

    text-transform: uppercase;

    animation: onloadTitle 5.5s cubic-bezier(.175,.885,.32,1.025) infinite;

}

.header-title span {

    color: var(--primary);

}

.header-overlay {

    width: 100%;

    height: 100%;

    position: absolute;

    background-color: rgba(0, 0, 0, .4);

    z-index: 8;

}

.header-img {

    min-width: 100%;

    min-height: 100%;

    position: absolute;

}

/* Main */

#main {

    min-height: 100vh;

    background-color: var(--bc);

}

#page {

    width: 100%;

    min-height: 50vh;

}

.page-inner {

    width: 60%;

    min-height: 50vh;

    padding: 8em 0 4em 0;

}

/* Top Bar */

.top-bar {

    width: 100%;

    padding: 4em 2.2em;

    min-height: 20vh;

    background-color: var(--bc-darker);

}

.top-bar-title {

    margin: 0;

    color: var(--bc-secondary);

}

.top-bar-text {

    color: var(--gray);

    font-size: calc(var(--paragraph) + .2rem);

}

/**/

#vindmølle {

    margin: 2em 0;

}

#soundmonkey {

    margin: 2em 0;

}

#homedrone {

    margin: 2em 0;

}

#norskeMemes {

    margin: 2em 0;

}

/* Title */

.title-wrapper {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    position: absolute;

    z-index: 10;

}

.title {

    color: var(--white);

    text-transform: uppercase;

    font-family: var(--font-poppins);

    font-size: calc(var(--heading) + 1rem);

}

/* Logo */

.image-logo-wrapper {

    width: calc(var(--heading) + 1rem);

    margin: 0 1em 0 0;

}

.image-logo {

    width: 100%;

}

/* image */

.image-wrapper {

    width: 100%;

    position: relative;

}

.image {

    width: 100%;

    display: block;

}

.image-overlay {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    position: absolute;

    background-color: rgba(0, 0, 0, .3);

    z-index: 9;

}

/* Info */

.info {

    min-height: 20vh;

}

.info h3 {

    position: relative;

    margin: 1em 0 0 0;

    color: var(--bc-secondary);

    font-size: calc(var(--heading) - .5rem);

    font-family: var(--font-poppins);

    line-height: 1em;

}

.info h3 span {

    top: -.8rem;

    position: absolute;

    color: var(--primary);

    font-size: calc(var(--heading) - 2.2rem);

}

.info p {

    color: var(--gray);

    font-size: calc(var(--paragraph) + .2rem);

}

.content {

    margin: 3em 0 2em 0;

}

/* footer */

#footer {

    width: 100%;

    background-color: var(--bc-darker);

}

.footer-inner {

    width: 60%;

    padding: 12em 0 4em 0;

}

.footer-bottom {

    width: 100%;

}

.footer-icon svg {

    width: 2.75rem;

    height: auto;

}

.footer-smalltext a {

    color: var(--gray-dark);

    font-size: calc(var(--paragraph) + .2rem);

    font-family: var(--font-poppins);

    text-decoration: none;

    cursor: pointer;

    transition: color .15s ease-in-out;

}

.footer-smalltext a:hover {

    color: var(--primary);

}

/* Selection */

::selection {

    color: var(--white);

    background: var(--primary);

}

/* Scrollbar */

::-webkit-scrollbar-track {

    background-color: var(--bc);

}

::-webkit-scrollbar {

    width: 10px;

    background-color: var(--primary);

    transition: width .35s ease-in-out;

}

.hide-scrollbar::-webkit-scrollbar {

    width: 0 !important;

    background-color: var(--primary);

    transition: width .35s ease-in-out;

}

::-webkit-scrollbar-thumb {

    background-color: var(--primary);

}

/* -

-*-~*~-*-*-~*~-*-*-~*~-* |

　　　　　@keyframes　　　　|

-*-~*~-*-*-~*~-*-*-~*~-* |

- */

@keyframes animateGlow {

    0% { background-position: 0 50%; }

    50% { background-position: 100% 50%; }

    100% { background-position: 0 50%; }

}

@keyframes onloadTitle {

    0% { letter-spacing: -.1275em; }

    25% { letter-spacing: 0; }

    65% { letter-spacing: 0; }

    90% { letter-spacing: -.1275em; }

    100% { letter-spacing: -.1275em; }

}

/* -

-*-~*~-*-*-~*~-*-*-~*~-* |

　　　　@media rules　　　　|

-*-~*~-*-*-~*~-*-*-~*~-* |

- */

@media only screen and (max-width: 1660px) {



}

@media only screen and (max-width: 1456px) {

    .header-title {

        font-size: calc(var(--heading) + 2.8rem);

    }

    .title {

        font-size: calc(var(--heading) + .2rem);

    }

}

@media only screen and (max-width: 1024px) {

    :root {

        --heading-large: 7rem;

    }

    .header-title {

        font-size: calc(var(--heading) + 1.4rem);

    }

    .page-inner {

        width: 80%;

    }

    .title {

        font-size: calc(var(--heading) - .2rem);

    }

}

@media only screen and (max-width: 756px) {

    :root {

        --heading-large: 5rem;

    }

    #menu a {

        font-size: calc(var(--heading) - .5rem);

    }

    #header {

        height: 65vh;

    }

    .header-title {

        font-size: calc(var(--heading) + .5rem);

    }

    .page-inner {

        width: 90%;

    }

    .title {

        font-size: calc(var(--heading) - .8rem);

    }

    .info h3 {

        font-size: calc(var(--heading) - 1.2rem);

    }

}

@media only screen and (max-width: 496px) {

    :root {

        --heading-large: 4rem;

    }

    #menu a {

        font-size: calc(var(--heading) - .85rem);

    }

    #header {

        height: 50vh;

    }

    .header-title {

        font-size: calc(var(--heading) - .5em);

    }

    .title {

        font-size: calc(var(--heading) - 1.2rem);

    }

    .info h3 {

        font-size: calc(var(--heading) - 1.8rem);

    }

}

