:root {
    --bc: #f2efe4;
    --bcSecondary: #d63d31;
    --bcBlack: #161617;
    /* Colors */
    --white: #f2efe4;
    --red: #fa485a;
    --redDark: #c73a48;
    --yellow: #f8ab37;
    --blue: #1f2029;
    --blueDark: #1e2933;
    --green: #24e33a;
    --greenDark: #28a745;
    --gray: #9c9c9c;
    --grayDark: #727272;
    --grayExtraDark: #424242;
    --black: #010101;
    /* Gradient */
    --gradient: linear-gradient(90deg, rgba(36, 227, 58, 1) 0%, rgba(40, 167, 69, 1) 100%);
    --gradientRed: linear-gradient(90deg, rgba(250, 72, 90, 1) 0%, rgba(199, 58, 72, 1) 100%);
    --gradientBlack: linear-gradient(90deg, rgba(10, 10, 10, 1) 0%, rgba(22, 22, 23, 1) 100%);
    --gradientWhite: linear-gradient(90deg, rgba(242, 239, 228, 1) 0%, rgba(222, 220, 213, 1) 100%);
}
* {
    box-sizing: border-box;
    transition: none;
}
html, body {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bc);
}
h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
/* Classes */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--black);
    cursor: pointer;
}
/*
    - = * PropChooser * = -
*/
#propChooser {
    z-index: 1;
    display: flex;
    padding: 1em;
    height: 65vh; width: 50vw;
    background-color: var(--bcBlack);
    box-shadow: 0 5px 75px 0 rgba(0, 0, 0, .45);
    border-radius: 6px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#propChooser form {
    width: 80%;
    margin: 3em 0 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
/* Input Fields */
.gridBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.gridBlock input {
    padding: 1em;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 4px;
    border: 1px solid #424242;
    font-weight: 500;
}
.gridBlock input:focus {
    outline: none;
}
.gridBlock label {
    margin: 0 0 .5em 0;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
/* Button */
#buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*
    - = * SeatChart * = -
*/
#seatChart {
    z-index: 1;
    display: flex;
    padding: 1em;
    min-height: 75vh; min-width: 60vw;
    box-shadow: 0 5px 75px 0 rgba(0, 0, 0, .45);
    background-color: var(--bcBlack);
    border-radius: 6px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#seatChart .inner {
    margin: 3em 0 1em 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* SeatChart Grid */
#seatChart .inner .left {
    margin: 1em;
    height: auto;
    width: 50%;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); <--- Important !  */
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
#seatChart .inner .left div {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--white);
}
#seatChart .inner .left div::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
/* SeatChart Right */
#seatChart .inner .right {
    margin: 1em;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#seatChart .inner .right form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
#seatChart .inner .right > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
#seatChart .inner .right .buttonWrapper2 {
    margin: 1em 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridBlock2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
/* Button 2 */
.button, .btn-secondary {
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: .9em 1em;
    letter-spacing: .1em;
    text-align: center;
    font-weight: 300;
    color: var(--bcBlack);
    font-size: 1.4rem;
    background: var(--gradient);
    background-size: 1100%;
    border-radius: 4px;
    border: 2px solid var(--black);
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.btn-secondary {
    margin: 0 .4em;
}
.button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button, .button .btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.button .btn-secondary {
    left: 0;
    width: 90%;
    position: absolute;
    filter: blur(16px);
    opacity: .9;
    z-index: -1;
    transform: scale3d(.9, .9, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275),-webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:focus {
    outline: none;
}
.button:hover {
    transform: scale3d(1.07, 1.07, 1);
    background-position: 100% 50%;
    bottom: 2px;
}
.btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(25px);
    bottom: -5px;
}
#red, #redSec {
    background: var(--gradientRed);
}
#black, #blackSec {
    color: var(--bcBlack);
    background: var(--gradientWhite);
}
#white, #whiteSec {
    color: var(--white);
    background: var(--gradientBlack);
    border: 2px solid var(--white);
}
#easterEgg {
    position: absolute;
    height: 100%; width: 100%;
    display: flex;
}
#easterEgg button {
    position: absolute;
    height: 10px; width: 10px;
    background-color: transparent;
    border: none;
    bottom: 10px; right: 10px;
}
#easterEgg video {
    z-index: 1;
    height: 80vh;
    margin: auto;

}
#source {
    position: absolute;
    color: black;
    top: 0;
}
#alert {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal {
    position: relative;
    padding: 6em 14em;
    border-radius: 4px;
    background-color: #0c0c0d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}
.modal h1 {
    color: #ffffff;
}
#alertMsg {
    max-width: 40vw;
    text-align: center;
    margin-bottom: 1em;
}
#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 10;
}