:root {
    /* Viktige farger */
    --bakgrunn: #f5f5f5;
    --bakgrunn-svart: #131314;
    --hvit: #ffffff;
    --svart: #000000;
    /* Andre farger */
    --blå: #2279ff;
    --blå-lys: #0cb9e8;
    --turkis: #00ffd0;
    --grønn: #0ce864;
    --grå: #323236;
    /* Gradering */
    --gradering: linear-gradient(45deg, rgba(34,121,255,1) 0%, rgba(12,185,232,1) 33%, rgba(0,255,208,1) 66%, rgba(12,232,100,1) 100%);
    /* Størrelser */
    --tittel: 8rem;
    --undertittel: 3.2rem;
    --tekst: 1.22rem;
    --knapp: 1.22rem;
    /* Skrifttyper */
    --poppins: "Poppins";
    --georgia: "";
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: var(--poppins);
    background-color: var(--bakgrunn);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
h1 {
    margin: 0;
    font-family: var(--poppins);
    font-size: var(--tittel);
    line-height: 1.2em;
}
h2 {
    margin: 0;
    font-size: var(--undertittel);
}
p {
    margin: 0;
    font-size: var(--tekst);
}
button {
    margin: 0;
    padding: .8em 1.2em;
    font-size: var(--knapp);
    transform: scale(1,1);
}
/* Globale klasser */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-left-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
/* Navbar */
#navbar {
    top: 0;
    width: 100%;
    height: 5em;
    position: fixed;
    display: grid;
    grid-template-columns: 75%;
    grid-gap: 0;
    background-color: var(--bakgrunn-svart);
    transition: background-color .25s ease-in-out;
    z-index: 1000;
}
.navbar-items {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar-item {
    height: 100%;
    margin: 0 .5em;
}
#seksjon1-link {
    margin: 0 .5em 0 0;
}
.navbar-item-inner {
    height: 100%;
    padding: 0 1em;
    color: var(--hvit);
    font-size: calc(var(--tekst) - .22rem);
    transition: color .05s  ease-in-out, opacity .15s ease-in-out;
    cursor: pointer;
}
.navbar-item-inner:hover {
    opacity: .55;
}
.navbar-item-inner i {
    margin: 0 .5em 0 0;
    font-size: calc(var(--tekst) + .2rem);
}
/* Nav Button */
#nav-button {
    margin: 0;
    width: 2em;
    height: 1.5em;
    position: relative;
    display: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
    cursor: pointer;
    z-index: 110;
}
#nav-button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--hvit);
    border-radius: 19px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
}
#nav-button span:nth-child(1) {
    top: 0;
}
#nav-button span:nth-child(2),#nav-button span:nth-child(3) {
    top: 0.75em;
}
#nav-button span:nth-child(4) {
    top: 1.5em;
}
#nav-button.open span:nth-child(1) {
    top: 2em;
    width: 0;
}
#nav-button.open span:nth-child(2) {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-button.open span:nth-child(3) {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-button.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
/* Menu */
#menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .8);
    transition: opacity .25s ease-in-out;
    opacity: 0;
    z-index: 99;
}
.menu-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-item {
    margin: .5em 0;
}
.menu-item-inner {
    color: var(--hvit);
    font-size: calc(var(--tekst) + 1.22rem);
    transition: color .05s  ease-in-out, opacity .15s ease-in-out;
    cursor: pointer;
}
.menu-item-inner:hover {
    opacity: .55;
}
.menu-item-inner i {
    margin: 0 .5em 0 0;
    font-size: calc(var(--tekst) + 1.2rem);
}
/* Header */
#header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#header h1 {
    width: 80%;
    color: var(--hvit);
    white-space: pre-wrap;
    text-align: center;
    z-index: 3;
}
#header h1::before {
    content: 'Forskningsprosjekt';
    display: block;
}
#header h1::after {
    content: '';
    display: block;
}
#header p {
    margin: 1em 0 0 0;
    color: var(--hvit);
    font-size: calc(var(--undertittel) - 1.5rem);
    z-index: 3;
}
#header img {
    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
}
#header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .25) 100%);
    z-index: 2;
}
/* Side */
.space {
    min-height: 100vh;
}
#main {
    width: 100%;
    min-height: 100vh;
    padding: 5em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main section {
    width: 75%;
    min-height: 100vh;
    padding: 2.5em 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.seksjon-tittel {
    width: 100%;
    position: relative;
    font-size: calc(var(--tekst) + 1rem);
}
.seksjon-tittel::before {
    top: -3px;
    left: 0;
    content: "";
    width: calc(7% / 2);
    height: 3px;
    position: absolute;
    background-color: var(--blå);
}
#main section h1 {
    margin: .3em 0 0 0;
}
#main section .undertittel {
    color: var(--grå);
    font-size: calc(var(--undertittel) - .5rem);
}
.content {
    margin: 2em 0;
}
.image-content {
    width: 100%;
    margin: 2em 0;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 3em;
}
.image-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-wrapper img {
    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    max-height: 120%;
    display: block;
    position: absolute;
    object-fit: cover;
}
/* Gallery */
.gallery {
    width: 100%;
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2em;
}
.gallery-item {
    width: 100%;
}
.gallery-img-wrapper {
    width: 100%;
    height: 1fr;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery-img-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.gallery-img-wrapper img {
    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    position: absolute;
    transition: transform .25s cubic-bezier(.175,.685,.32,1.075);
    object-fit: cover;
}
.g-large-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1999;
}
.g-large-wrapper .g-image-wrapper-hor {
    width: 65%;
    z-index: 1999;
}
.g-large-wrapper .g-image-wrapper-ver {
    height: 75%;
    z-index: 1999;
}
.g-large-wrapper .g-image-wrapper-hor img {
    width: 100%;
    z-index: 1999;
}
.g-large-wrapper .g-image-wrapper-ver img {
    height: 100%;
    z-index: 1999;
}
.g-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1998;
}
/* Knapp */
.button-wrapper {
    margin: 1em 0;
    position: relative;
}
.button, .btn-secondary {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 1.2em 1.8em;
    letter-spacing: .1em;
    text-align: center;
    color: var(--hvit);
    font-size: var(--knapp);
    background: var(--gradering);
    background-size: 500%;
    border: none;
    cursor: pointer;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button, .button .btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .8;
    z-index: -1;
    transform: scale3d(.9, .9, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:focus, .button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}
.button:focus .btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
}
/* Selection */
::selection {
    color: var(--bakgrunn);
    background: var(--blå-lys);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--bakgrunn);
}
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--blå);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blå);
}
/* @media rules */
@media only screen and (max-width: 1660px) {
    #header h1 {
        font-size: calc(var(--tittel) - 1rem);
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --tittel: 7rem;
        --undertittel: 3.2rem;
    }
    #navbar {
        grid-template-columns: 75%;
    }
    #header h1 {
        font-size: calc(var(--tittel) - 2rem);
    }
    #main section {
        width: 75%;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.75em;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --tittel: 6.5rem;
        --undertittel: 3rem;
    }
    #navbar {
        grid-template-columns: 80%;
    }
    .navbar-item-inner {
        padding: 0 .5em;
        font-size: calc(var(--tekst) - .1rem);
    }
    #header h1::before {
        content: 'Forsknings-';
        display: block;
    }
    #header h1::after {
        content: 'prosjekt';
        display: block;
    }
    #main section {
        width: 80%;
    }
    .seksjon-tittel::before {
        width: calc(9% / 2);
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --tittel: 3.5rem;
        --undertittel: 2.2rem;
    }
    #navbar {
        padding: 0 1.5em;
        grid-template-columns: 100%;
    }
    .navbar-items {
        display: none;
    }
    .navbar-item-inner i {
        display: none;
    }#nav-button {
         display: block;
     }
    #header h1 {
        font-size: calc(var(--tittel) + .2rem);
    }
    #header p {
        margin: 1em 0 0 0;
        color: var(--hvit);
        font-size: calc(var(--undertittel) - 1rem);
        z-index: 3;
    }
    #main section {
        width: 100%;
        padding: 2.5em 2em;
    }
    .seksjon-tittel::before {
        width: calc(14% / 2);
    }
    .image-content {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .gallery {
        grid-gap: 1em;
    }
    .g-large-wrapper .g-image-wrapper-ver {
        height: 69%;
    }
    .g-large-wrapper .g-image-wrapper-hor {
        width: 75%;
    }
}
@media only screen and (max-width: 512px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .g-large-wrapper .g-image-wrapper-hor {
        width: 85%;
    }
}
@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --tittel: 2.5rem;
        --undertittel: 1.5rem;
    }
}