:root {

    --bc: #04020a;

    --bc-secondary: #fcf1ec;

    --bc-bright: #161617;

    --primary: #FF1F4C;

    --white: #ffffff;

    --black: #000000;

    /* Colors */

    --red-darker: #B30427;

    --yellow: #FFF326;

    --yellow-darker: #D1BF19;

    --blue: #05B9FF;

    --blue-darker: #0C84B3;

    /* Gray Colors */

    --gray: #6c757d;

    --gray-light: #fcf1ec;

    --gray-bright: #ecedf3;

    --gray-dark: #6d6d6d;

    --gray-extra-dark: #343a40;

    /* Gradients */

    --gradient: linear-gradient(45deg,  #da2c4d, #a02257, #63214e, #2e1933, #04020a);

    --gradient2: linear-gradient(45deg,  #05b9ff, #3f84bd, #3c557c, #282c40, #04020a);

    /* Sizes */

    --heading: 3.4rem;

    --heading-large: 7.5rem;

    --heading-medium: 2rem;

    --paragraph: 1.1rem;

    --button-large: 1.6rem;

    --button-small: 1.2rem;

    /* Fonts */

    --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    --font-secondary: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --font-poppins: "Poppins";

}

html, body {

    margin: 0;

    font-family: var(--font-main);

    display: block;

}

main {

    width: 100%;

    min-height: 100vh;

    background-color: var(--gray-light);

}

fieldset {

    margin: 0;

    padding: 0;

    border: none;

}

/* Globale Klasser */

.flexbox {

    display: flex;

    justify-content: center;

    align-items: center;

}

.flexbox-left {

    display: flex;

    justify-content: flex-start;

    align-items: center;

}

.flexbox-right {

    display: flex;

    justify-content: flex-end;

    align-items: center;

}

.flexbox-col {

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: center;

}

.flexbox-start-col {

    display: flex;

    justify-content: flex-start;

    flex-direction: column;

    align-items: center;

}

/* Space */

.space {

    min-height: 100vh;

}

/* Klasser */

#navbar {

    margin: 0;

    width: 100%;

    height: 5em;

    color: var(--white);

    background-color: var(--bc);

}

.navbar-inner {

    height: 100%;

    display: grid;

    padding: 0 2em;

    grid-template-columns: 1fr 75% 1fr;

}

/* Navbar Left */

.navbar-left {

    height: 100%;

}

/* Nav Button */

#nav-button {

    margin: 0;

    width: 30px;

    height: 22px;

    position: relative;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -o-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    transition: .35s cubic-bezier(.175,.685,.32,1.075);

    cursor: pointer;

    z-index: 110;

}

#nav-button span {

    display: block;

    position: absolute;

    height: 2px;

    width: 100%;

    background: var(--white);

    border-radius: 19px;

    opacity: 1;

    left: 0;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    -o-transition: .35s cubic-bezier(.175,.685,.32,1.075);

    transition: .35s cubic-bezier(.175,.685,.32,1.075);

}

#nav-button span:nth-child(1) {

    top: 0;

}

#nav-button span:nth-child(2),#nav-button span:nth-child(3) {

    top: 11px;

}

#nav-button span:nth-child(4) {

    top: 22px;

}

#nav-button.open span:nth-child(1) {

    top: 18px;

    width: 0;

}

#nav-button.open span:nth-child(2) {

    width: 100%;

    -webkit-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    transform: rotate(45deg);

}

#nav-button.open span:nth-child(3) {

    width: 100%;

    -webkit-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    -o-transform: rotate(-45deg);

    transform: rotate(-45deg);

}

#nav-button.open span:nth-child(4) {

    top: 18px;

    width: 0;

    left: 50%;

}

/* Navbar Center */

.navbar-center {

    height: 100%;

    position: relative;

    overflow: hidden;

}

.navbar-center svg {

    height: 16em;

    position: absolute;

    cursor: pointer;

}

/* Navbar Right */

.navbar-right {

    height: 100%;

}

.flexbox-right a {

    font-size: 1.5rem;

    text-decoration: none;

    color: var(--white);

}

.profile-picture {

    width: 2.5rem;

    height: 2.5rem;

    cursor: pointer;

    z-index: 2;

}

/* Dropdown */

#menu {

    top: 5em;

    right: 0;

    width: auto;

    display: none;

    position: absolute;

    background-color: var(--bc-bright);

    color: var(--white);

    z-index: 100;

}

#menu::after {

    content: "";

    left: calc(100% - 2.65em - 1.25rem);

    bottom: 100%;

    width: 0;

    height: 0;

    position: absolute;

    border-left: .65em solid transparent;

    border-right: .65em solid transparent;

    border-bottom: .65em solid var(--bc-bright);

    clear: both;

    z-index: 100;

}

.menu-item {

}

.menu-item a {

    padding: 1.2em 2.4em;

    display: block;

    color: var(--white);

    text-decoration: none;

    transition: color .1s ease-in-out;

    cursor: pointer;

}

.menu-item a:hover {

    color: var(--gray);

}

.menu-item a i {

    margin: 0 .5em 0 0;

}

/* Main */

#main-red {

    background: radial-gradient(var(--primary) 6%, transparent 6%), var(--gray-light);

    background-position: 0 0, 25px 25px;

    background-size: 25px 25px;

}

#main-blue {

    background: radial-gradient(var(--blue) 6%, transparent 6%), var(--gray-light);

    background-position: 0 0, 25px 25px;

    background-size: 25px 25px;

}

/* logIn.php og signUp.php */

.login-wrapper {

    width: 100%;

    min-height: calc(100vh);

}

#form {

    width: 66vw;

    min-height: 66vh;

    margin: 7.5em 0;

    display: grid;

    position: relative;

    background-color: var(--bc-secondary);

    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, .15);

    grid-template-columns: 40% 60%;

    z-index: 2;

}

.form-left {

    width: 100%;

    height: 100%;

    position: relative;

    background-image: url("pictures/salt-bae.jpg");

    background-position: center;

    background-size: cover;

    overflow: hidden;

    z-index: 2;

}

.form-left-blue {

    width: 100%;

    height: 100%;

    position: relative;

    background-image: url("pictures/would-be-great.jpg");

    background-position: center;

    background-size: cover;

    overflow: hidden;

    z-index: 2;

}

.form-left-overlay {

    width: 100%;

    height: 100%;

    position: absolute;

    background-color: rgba(0, 0, 0, .35);

    z-index: 2;

}

.form-right {

    padding: 5em 0;

    position: relative;

    z-index: 2;

}

.form {

    width: 100%;

    position: relative;

}

.form-inner {

    width: 70%;

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: center;

    z-index: 2;

}

.form-title {

    margin: 0;

    text-align: center;

    font-size: 2.6rem;

    letter-spacing: .05em;

    color: var(--bc);

    font-family: var(--font-poppins);

    text-transform: uppercase;

    font-weight: 600;

}

.fii-wrapper {

    width: 100%;

    margin: 1em 0 1em 0;

}

.form-input-wrapper {

    margin: 2em 0;

    position: relative;

}

.form-input {

    position: relative;

    display: block;

    padding: 1.2em 1.5em;

    width: calc(100% - 3em);

    font-size: 1.3rem;

    color: var(--bc);

    background-color: var(--gray-light);

    border: 1px solid var(--gray);

    transition: border .2s ease-in-out;

}

.form-input:focus {

    outline: none;

    border: 1px solid var(--bc);

}

.form-bottom {

    margin: 1em 0 0 0;

    font-family: var(--font-poppins);

}

.form-bottom p a {

    color: var(--primary);

}

.form-bottom2 {

    margin: 1em 0 0 0;

    font-family: var(--font-poppins);

}

.form-bottom2 p a {

    color: var(--blue);

}

/* Profile */

.profile-pic-wrapper {

    width: 14em;

    height: 14em;

    position: relative;

}

.profile-pic {

    width: 100%;

    height: 100%;

}

.profile-pic img {

    width: 100%;

    height: 100%;

}

.profile-pic-small {

    width: 25em;

    height: 25em;

    margin: 0 0 1em 0;

    display: block;

}

.profile-pic-small img {

    width: 100%;

    height: 100%;

}

.profile-pic-upload-input {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    margin: 0;

    padding: 0;

    width: 100%;

    height: 100%;

    border: none;

    position: absolute;

    cursor: pointer;

    overflow: hidden;

    z-index: 100;

    opacity: 0;

}

.profile-pic-upload-input input {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    position: absolute;

    cursor: pointer;

    transform: scale(1.3);

    z-index: 100;

    opacity: 0;

}

#profile-pic-uploader {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    display: none;

    position: fixed;

    z-index: 110;

}

.profile-pic-uploader-inner {

    padding: 8em 10em;

    background-color: var(--white);

    z-index: 111;

}

#upload-profile-picture {

    margin: 0;

    width: 100%;

    position: relative;

    padding: 1.2em 2em;

    letter-spacing: .1em;

    text-align: center;

    color: var(--white);

    background: var(--gradient2);

    font-size: var(--button-small);

    background-size: 1100%;

    border: none;

    cursor: pointer;

    z-index: 111;

}

.profile-pic-wrapper-overlay {

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    position: absolute;

    background-color: rgba(0, 0, 0, .4);

    z-index: 99;

}

.profile-pic-note {

    margin: 0;

    width: 100%;

    top: 105%;

    padding: .2em 0;

    position: absolute;

    pointer-events: none;

    background-color: var(--black);

    color: var(--white);

    transition: all .3s cubic-bezier(.175,.885,.32,1.275);

    opacity: 0;

}

.profile-pic-note::after {

    content: "";

    left: calc(50% - .5em);

    bottom: 100%;

    width: 0;

    height: 0;

    position: absolute;

    border-left: .5em solid transparent;

    border-right: .5em solid transparent;

    border-bottom: .5em solid var(--black);

    clear: both;

}

.profile-top {

    width: 65%;

    height: 14em;

    margin: 4em 0 2em 0;

    position: relative;

    display: grid;

    grid-template-columns: auto 1fr;

    grid-column-gap: 2.5em;

}

.profile-left {

    height: 100%;

}

.profile-right {

    height: 14em;

    position: relative;

}

.profile-right-top {

    width: 100%;

}

.profile-right-bottom {

    width: 100%;

    height: 100%;

}

.profile-bio-wrapper {

    width: 50%;

    height: 100%;

    padding: 0 .75em 0 0;

}

.profile-bio {

    margin: .25em 0 0 0;

    width: 100%;

    font-size: calc(var(--paragraph) + .1rem);

    line-height: 1.8rem;

}

.profile-bio span {

    color: var(--blue-darker);

    cursor: pointer;

}

.profile-name {

    margin: 0;

    font-size: var(--heading);

}

/* Knapper */

.btn-wrapper {

    padding: 1em 0 0 0;

}

.button, .btn-secondary {

    margin: 0;

    width: 100%;

    position: relative;

    cursor: pointer;

    padding: 1.2em 2em;

    letter-spacing: .1em;

    text-align: center;

    color: var(--white);

    background: var(--gradient);

    font-size: var(--button-small);

    background-size: 1100%;

    border: none;

    transform: scaleX(1);

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);

}

.button {

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);

}

.button, .button .btn-secondary {

    background-position: 0 50%;

    bottom: 0;

}

.button .btn-secondary {

    left: 0;

    width: 85%;

    position: absolute;

    filter: blur(16px);

    opacity: .9;

    z-index: -1;

    transform: scale3d(.9, .9, 1);

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);

}

.button:focus, .button:hover {

    transform: scale3d(1.1, 1.1, 1);

    background-position: 100% 50%;

    outline: none;

    bottom: 2px;

}

.button:focus .btn-secondary, .button:hover .btn-secondary {

    background-position: 100% 50%;

    filter: blur(25px);

    bottom: -5px;

}

.button-blue, .btn-secondary-blue {

    margin: 0;

    width: 100%;

    position: relative;

    cursor: pointer;

    padding: 1.2em 2em;

    letter-spacing: .1em;

    text-align: center;

    color: var(--white);

    background: var(--gradient2);

    font-size: var(--button-small);

    background-size: 1100%;

    border: none;

    transform: scaleX(1);

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);

}

.button-blue {

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);

}

.button-blue, .button-blue .btn-secondary-blue {

    background-position: 0 50%;

    bottom: 0;

}

.button-blue .btn-secondary-blue {

    left: 0;

    width: 85%;

    position: absolute;

    filter: blur(16px);

    opacity: .9;

    z-index: -1;

    transform: scale3d(.9, .9, 1);

    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);

}

.button-blue:focus, .button-blue:hover {

    transform: scale3d(1.1, 1.1, 1);

    background-position: 100% 50%;

    outline: none;

    bottom: 2px;

}

.button-blue:focus .btn-secondary-blue, .button-blue:hover .btn-secondary-blue {

    background-position: 100% 50%;

    filter: blur(25px);

    bottom: -5px;

}

/* Selection */

::selection {

    color: var(--white);

    background: var(--primary);

}

/* @media rules */

@media only screen and (max-width: 1660px) {



}

@media only screen and (max-width: 1456px) {



}

@media only screen and (max-width: 1024px) {



}

@media only screen and (max-width: 756px) {



}

@media only screen and (max-width: 496px) {



}