@font-face {

  font-family: SanFranciscoText;

  src: url('https://zephyo.github.io/22Days/code/15/graphics/SanFranciscoText-Thin.otf');

}

html, body {

  margin: 0;

  background-image: linear-gradient(to bottom, #a3e9ff, #87d8f9, #6dc7f4, #56b6ee, #42a4e8);

  font-family: SanFranciscoText;

  overflow: hidden;

}

header {

  text-align: center;

}

main {

  min-height: 110vh;

}

footer {

  background-color: #0d0d0d;

  text-align: center;

}

h1 {

  font-size: 8em;

  font-variant: all-petite-caps;

  margin: 0;

}

h3 {

  display: inline-block;

}

/* KLASSER */

.header-h1 {

  display: inline-block;

  color: #ffffff;

  text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000, 5px 5px #000000;

  cursor: pointer;

  z-index: 10;

  opacity: .4;

  animation: headertxt 5s infinite ease-in-out;

  transition: opacity .3s ease-in-out;

}

.header-h1:hover {

  opacity: .6;

}

/* MENU */

.menuwrapper {

  position: relative;

  right: 100px;

  top: 65px;

  display: inline-block;

  float: right;

  opacity: .8;

  transition: all .3s ease-in-out;

  z-index: 1000;

}

.menuwrapper:hover {

  opacity: 1;

}

.menuwrapper input {

  display: none;

}

.menuwrapper label {

  position: relative;

  width: 40px;

  height: 40px;

  display: block;

  cursor: pointer;

  background: transparent;

}

.menuwrapper label:before,

.menuwrapper input:checked + label:before {

  content: '';

  position: absolute;

  top: 50%;

  margin-top: -2px;

  width: 40px;

  height: 4px;

  border-radius: 2px;

  background: #ffffff;

  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

}

.menuwrapper label:before {

  -webkit-animation: animationOneReverse 1s ease forwards;

  animation: animationOneReverse 1s ease forwards;

}

.menuwrapper input:checked + label:before {

  -webkit-animation: animationOne 1s ease forwards;

  animation: animationOne 1s ease forwards;

}

.menuwrapper label:after,

.menuwrapper input:checked + label:after {

  content: '';

  position: absolute;

  top: 50%;

  margin-top: -2px;

  width: 40px;

  height: 4px;

  border-radius: 2px;

  background: #ffffff;

    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

}

.menuwrapper label:after {

  -webkit-animation: animationTwoReverse 1s ease forwards;

  animation: animationTwoReverse 1s ease forwards;

}

.menuwrapper input:checked + label:after {

  -webkit-animation: animationTwo 1s ease forwards;

  animation: animationTwo 1s ease forwards;

}

.menuwrapper label .burger:before {

  content: '';

  position: absolute;

  top: 6px;

  width: 40px;

  height: 4px;

  border-radius: 2px;

  background: #ffffff;

    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

    -webkit-animation: animationBurgerTopReverse 1s ease forwards;

  animation: animationBurgerTopReverse 1s ease forwards;

}

.menuwrapper input:checked + label .burger:before {

  -webkit-animation: animationBurgerTop 1s ease forwards;

  animation: animationBurgerTop 1s ease forwards;

}

.menuwrapper label .burger:after {

  content: '';

  position: absolute;

  bottom: 6px;

  width: 40px;

  height: 4px;

  border-radius: 2px;

  background: #ffffff;

    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

    -webkit-animation: animationBurgerBottomReverse 1s ease forwards;

  animation: animationBurgerBottomReverse 1s ease forwards;

}

.menuwrapper input:checked + label .burger:after {

  -webkit-animation: animationBurgerBottom 1s ease forwards;

  animation: animationBurgerBottom 1s ease forwards;

}

/* SIDEBAR */

.sidenav {

    position: absolute;

    height: 100%;

    width: 300px;

    top: 0;

    right: -300px;

    background-color: #000000;

    opacity: .7;

    z-index: 999;

    transition: .5s ease-in-out;

}

#link-div {

    margin: 50px 0 0 0;

}

/* WINDMILL */

#windmill {

  width: 300px;

  height: 350px;

  margin: 10px auto 0;

  position: relative;

  z-index: 20;

}

.post {

  position: absolute;

  width: 10px;

  height: 200px;

  background: linear-gradient(to top, #BABABA 0%, #848484 100%);

  top: 145px;

  left: 145px;

  border-radius: 3px;

}

.engine {

  position: absolute;

  width: 20px;

  height: 20px;

  background: linear-gradient(to top, #BABABA 0%, #999999 100%);

  top: 130px;

  left: 140px;

}

.head {

  width: 10px;

  height: 10px;

  position: absolute;

  top: 135px;

  left: 145px;

  z-index: 1000;

  background: linear-gradient(to top, #BABABA 0%, #707070 100%);

  border-radius: 50%;

}

.flaps {

  width: 200px;

  height: 200px;

  position: absolute;

  top: 40px;

  left: 50px;

  animation: rotatemill 3s infinite linear;

}

.flap {

  width: 5px;

  height: 120px;

  position: absolute;

  background: linear-gradient(to top, #BABABA 0%, #707070 100%);

  border-top-left-radius: 5px 20px;

}

.flaps .flap:nth-child(1) {

  top: -20px;

  left: 97px;

}

.flaps .flap:nth-child(2) {

  top: 70px;

  left: 150px;

  transform: rotate(120deg);

}

.flaps .flap:nth-child(3) {

  top: 70px;

  left: 45px;

  transform: rotate(240deg);

}

/* BIRD */

#pictureframe {

  position: relative;

  width: 100px;

  margin-top: 100px;

  -webkit-animation: fly 22.5s infinite linear;

}

#bird div {

  position: absolute;

}

#bird {

  position: absolute;

  -webkit-animation: bird 1.4s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);

}

#body1,#body2,#wing-l,#wing-r {

  width: 0;

  height: 0;

  border-color: transparent;

  border-style: solid;

}

#body1 {

  border-left-width: 25px;

  border-top-width: 15px;

  border-right-width: 55px;

  border-top-color: #333;

}

#body2 {

  left: 50px;

  bottom: 0;

  border-width: 10px;

  border-left-width: 5px;

  border-top-width: 0;

  border-right-width: 15px;

  border-bottom-color: #777;

}

#wing-l {

  left: 22px;

  bottom: 0;

  border-width: 60px;

  border-left-width: 20px;

  border-top-width: 0;

  border-right-width: 6px;

  border-bottom-color: #444;

  -webkit-animation: flap-l 1.4s infinite;

}

#wing-r {

  left: 22px;

  top: 0;

  border-width: 60px;

  border-left-width: 20px;

  border-bottom-width: 0;

  border-right-width: 6px;

  border-top-color: #777;

  -webkit-animation: flap-r 1.4s infinite;

}

/* CLOUDS */

.cloud {

  position: absolute;

  top: 240px;

  left: 300px;

  background-color: #fff;

  height: 20px;

  width: 40px;

  z-index: 1000;

  border-radius: 40px 40px 0 0;

  opacity: 0.7;

  animation: clouds 34s linear alternate infinite;

}

.cloud:before {

  content: "";

  position: absolute;

  background-color: #fff;

  height: 30px;

  width: 60px;

  border-radius: 60px 60px 0 0;

  bottom: 0;

  right: 20px;

}

.cloud2 {

  height: 40px;

  width: 80px;

  top: -20px;

  z-index: 1;

  animation: clouds 44s linear alternate-reverse infinite;

}

.cloud2:before {

  content: "";

  position: absolute;

  background-color: #fff;

  height: 30px;

  width: 60px;

  border-radius: 60px 60px 0 0;

  bottom: 0;

  right: 40px;

}

.cloud-left {

  position: absolute;

  background-color: rgba(255, 255, 255, .7);

  width: 60px;

  height: 40px;

  border-radius: 40px 40px 0 0;

  top: 320px;

  left: 350px;

  z-index: 15;

  animation: clouds 34s linear alternate infinite;

}

.cloud-left:before {

  content: "";

  position: absolute;

  background-color: rgba(255,255,255,.7);

  height: 30px;

  width: 60px;

  border-radius: 60px 60px 0 0;

  bottom: 0;

  left: -40%;

}

.cloud-right {

  position: absolute;

  background-color: rgba(255, 255, 255, .7);

  width: 60px;

  height: 40px;

  border-radius: 60px 60px 0 0;

  top: 370px;

  left: 300px;

  animation: clouds 44s linear alternate-reverse infinite;

}

.cloud-right:before {

  content: "";

  position: absolute;

  background-color: rgba(255,255,255,.7);

  height: 30px;

  width: 60px;

  border-radius: 60px 60px 0 0;

  bottom: 0;

  right: -40%;

}

/* TREES */

.tree {

  height:150px;

  width:150px;

  background-color: #6a976c;

  border-radius:100%;

  z-index: 5;

}

.trunk {

  width: 0;

  height: 0;

  border-style: solid;

  border-width: 0 10px 212px 10px;

  border-color: transparent transparent #374544 transparent;

  margin-top: 54px;

  margin-left: 65px;

}

.leftbranch {

  width: 0;

  height: 0;

  border-style: solid;

  border-width: 0 3px 60px 3px;

  border-color: transparent transparent #374544 transparent;

  transform: rotate(-50deg);

  position: absolute;

  margin-top: 13px;

  margin-left: -25px;

}

.rightbranch {

  width: 0;

  height: 0;

  border-style: solid;

  border-width: 0 2px 35px 2px;

  border-color: transparent transparent #374544 transparent;

  transform: rotate(36deg);

  position: absolute;

  margin-top: 4px;

  margin-left: 9px;

}

.tree1 {

  position: absolute;

  bottom: 180px;

  left: 11%;

}

.tree2 {

  position: absolute;

  bottom: 160px;

  left: calc(12% + 16px);

}

.tree3 {

  position: absolute;

  bottom: 185px;

  right: 11.5%;

}

/* BILLBOARD */

.board-txt {

  color: #ffffff;

  font-size: 25px;

  margin-top: 20px;

}

.board1 {

  position: absolute;

  top: 500px;

  left: 30%;

  z-index: 20;

}

.board2 {

  position: absolute;

  top: 520px;

  left: 60%;

  z-index: 20;

}

.plate1 {

     text-align: center;

     width: 150px;

     height: 75px;

     border-radius: 2px;

     background-image: linear-gradient(to right top, #594135, #684d3f, #78584a, #886555, #987161);

     z-index: 21;

}

.plate2 {

    text-align: center;

    width: 150px;

    height: 75px;

    border-radius: 2px;

    background-image: linear-gradient(to right top, #594135, #684d3f, #78584a, #886555, #987161);

    z-index: 21;

}

.leg1 {

  position: absolute;

  width: 10px;

  height: 30px;

  left: 20px;

  background-image: linear-gradient(to top, #987161, #886555, #78584a, #684d3f, #594135);

}

.leg2 {

  position: absolute;

  width: 10px;

  height: 30px;

  left: 120px;

  background-image: linear-gradient(to top, #987161, #886555, #78584a, #684d3f, #594135);

}

/* BUSH */

.bush {

  position: absolute;

  top: 590px;

  left: 27%;

  margin-left: auto;

  margin-right: auto;

  height: 40px;

  width: 80px;

  background-color: #92B762;

  border-radius: 40px;

  z-index: 22;

}

.bush-part {

  position:absolute;

  background-color: inherit;

  border-radius: 50%;

}

.bush-part:nth-child(1) {

  height: 60px;

  width: 60px;

  top: -30px;

  left: 10px;

}

.bush-part:nth-child(2) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: -10px;

}

.bush-part:nth-child(3) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: 40px;

}

.bush2 {

  position: absolute;

  top: 600px;

  left: 64%;

  margin-left: auto;

  margin-right: auto;

  height: 40px;

  width: 80px;

  background-color: #92B762;

  border-radius: 40px;

  z-index: 22;

}

.bush-part2 {

  position:absolute;

  background-color: inherit;

  border-radius: 50%;

}

.bush-part2:nth-child(1) {

  height: 60px;

  width: 60px;

  top: -30px;

  left: 10px;

}

.bush-part2:nth-child(2) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: -10px;

}

.bush-part2:nth-child(3) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: 40px;

}

.bush-b {

  position: absolute;

  top: 585px;

  left: 28%;

  margin-left: auto;

  margin-right: auto;

  height: 40px;

  width: 80px;

  background-color: #7c9b53;

  border-radius: 40px;

  z-index: 19;

}

.bush-part-b {

  position:absolute;

  background-color: inherit;

  border-radius: 50%;

}

.bush-part-b:nth-child(1) {

  height: 60px;

  width: 60px;

  top: -30px;

  left: 10px;

}

.bush-part-b:nth-child(2) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: -10px;

}

.bush-part-b:nth-child(3) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: 40px;

}

.bush-b2 {

  position: absolute;

  top: 595px;

  left: 65%;

  margin-left: auto;

  margin-right: auto;

  height: 40px;

  width: 80px;

  background-color: #7c9b53;

  border-radius: 40px;

  z-index: 19;

}

.bush-part-b2 {

  position:absolute;

  background-color: inherit;

  border-radius: 50%;

}

.bush-part-b2:nth-child(1) {

  height: 60px;

  width: 60px;

  top: -30px;

  left: 10px;

}

.bush-part-b2:nth-child(2) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: -10px;

}

.bush-part-b2:nth-child(3) {

  height: 50px;

  width: 50px;

  top: -10px;

  left: 40px;

}

/* SUN - MOON */

.sun {

  position: absolute;

  left: 50%;

  bottom: 180px;

  width: 150px;

  height: 150px;

  margin-left: 200px;

  border-radius: 50%;

  background: #ff8;

  animation: sun 3s infinite ease-in-out;

}

/* .moon {

  position: absolute;

  left: 200px;

  top: 180px;

  height: 125px;

  width: 125px;

  border-radius: 50%;

  box-shadow: -30px 15px 0 5px #FFD757;

} */

/* LANDSCAPE */

.level-small {

  position: relative;

  width: 100%;

  height: 100px;

  margin: 1px 0 0 0;

  background: #95e082;

  z-index: 4;

}

.level {

  position: relative;

  width: 100%;

  height: 500px;

  background: #95e082;

  z-index: 4;

}

.level2 {

  width: 100%;

  height: 300px;

  background: #95e082;

}

.level3 {

  width: 50%;

  height: 600px;

  background: #95e082;

}

.level4 {

  width: 50%;

  height: 500px;

  background: #95e082;

}

.l1 {

  position: absolute;

  bottom: -60px;

  background: #95e082;

  border-radius: 50%;

  z-index: 4;

}

.l2 {

  position: absolute;

  bottom: -250px;

  left: -25%;

  background: #b6f2a7;

  border-radius: 50%;

  z-index: 3;

}

.l3 {

  position: absolute;

  bottom: -225px;

  left: 5%;

  background: #b6f2a7;

  border-radius: 50%;

  z-index: 2;

}

/* SLIDER */

.range-wrap {

  position: relative;

  width: 100%;

  z-index: 5;

  top: -20px;

}

.range {

  -webkit-appearance: none;

  vertical-align: middle;

  margin: auto;

  width: 50%;

  outline: none;

  border: none;

  padding: 0;

  background: none;

  display: block;

  z-index: 5;

}

.range::-webkit-slider-runnable-track {

  background-color: #d7dbdd;

  height: 6px;

  border-radius: 3px;

  border: 1px solid transparent;

}

.range::-moz-range-track {

  background-color: #d7dbdd;

  height: 6px;

  border-radius: 3px;

  border: none;

}

.range::-ms-track {

  color: transparent;

  border: none;

  background: none;

  height: 6px;

}

.range::-ms-fill-lower {

  background-color: #d7dbdd;

  border-radius: 3px;

}

.range::-ms-fill-upper {

  background-color: #d7dbdd;

  border-radius: 3px;

}

.range::-ms-tooltip {

  display: none;

}

.range::-moz-range-thumb {

  border-radius: 20px;

  height: 18px;

  width: 18px;

  border: none;

  background-color: #606670;

}

.range:active::-moz-range-thumb {

  outline: none;

}

.range::-webkit-slider-thumb {

  -webkit-appearance: none;

  border-radius: 100%;

  background-color: #606670;

  height: 18px;

  width: 18px;

  margin-top: -7px;

  cursor: grab;

}

.range:active::-webkit-slider-thumb {

  outline: none;

  cursor: grabbing;

}

.range::-ms-thumb {

  border-radius: 100%;

  background-color: #606670;

  height: 18px;

  width: 18px;

  border: none;

}

.range:active::-ms-thumb {

  border: none;

}

/* FOOTER */

.footer-txt-wrap {

  padding: 50px;

  margin-top: 75px;

}

.footer-p {

  color: #ffffff;

  font-size: 18px;

  display: inline-block;

  margin: auto;

}

.footer-p-dot {

    color: #ffffff;

    font-size: 18px;

    font-weight: bolder;

    display: inline-block;

    margin: auto;

}

.footer-a {

  color: #7ae6ff;

  text-decoration: none;

  font-size: 18px;

  font-weight: bold;

}

.footer-a-wrap {

  display: inline-block;

  margin-left: 2px;

  opacity: .7;

  transition: .5s ease-in-out;

}

.footer-a-wrap:hover {

  opacity: 1;

}

.footer-a-wrap:after {

  content: '';

  display: block;

  margin: auto;

  height: 2px;

  width: 0;

  background: transparent;

  transition: width .5s ease, background-color .5s ease;

}

.footer-a-wrap:hover:after {

  width: 100%;

  background: #7ae6ff;

}

/* KEYFRAMES */

@keyframes headertxt {

  0% { letter-spacing: 5px; }

  50% { letter-spacing: 10px; }

  100% { letter-spacing: 5px; }

}

@-webkit-keyframes animationOneReverse {

  0% { -webkit-transform: rotate(315deg); }

  25% { -webkit-transform: rotate(360deg); }

  50%, 100% { -webkit-transform: rotate(0deg); }

}

@keyframes animationOneReverse {

  0% { transform: rotate(315deg); }

  25% { transform: rotate(360deg); }

  50%, 100% { transform: rotate(0deg); }

}

@-webkit-keyframes animationOne {

  0%, 50% { -webkit-transform: rotate(0deg); }

  75% { -webkit-transform: rotate(360deg); }

  100% { -webkit-transform: rotate(315deg); }

}

@-webkit-keyframes animationTwoReverse {

  0% { -webkit-transform: rotate(405deg); }

  25% { -webkit-transform: rotate(450deg); }

  50%, 100% { -webkit-transform: rotate(0deg); }

}

@keyframes animationTwoReverse {

  0% { transform: rotate(405deg); }

  25% { transform: rotate(450deg); }

  50%, 100% { transform: rotate(0deg); }

}

@keyframes animationOne {

  0%, 50% { transform: rotate(0deg); }

  75% { transform: rotate(360deg); }

  100% { transform: rotate(315deg); }

}

@-webkit-keyframes animationTwo {

  0%, 50% { -webkit-transform: rotate(0deg); }

  75% { -webkit-transform: rotate(450deg); }

  100% { -webkit-transform: rotate(405deg); }

}

@keyframes animationTwo {

  0%, 50% { transform: rotate(0deg); }

  75% { transform: rotate(450deg); }

  100% { transform: rotate(405deg); }

}

@-webkit-keyframes animationBurgerTopReverse {

  0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }

  51% { -webkit-transform: translateY(12px); opacity: 1; }

  100% { -webkit-transform: translateY(0px); opacity: 1; }

}

@keyframes animationBurgerTopReverse {

  0%, 50% { transform: translateY(12px); opacity: 0; }

  51% { transform: translateY(12px); opacity: 1; }

  100% { transform: translateY(0px); opacity: 1; }

}

@-webkit-keyframes animationBurgerTop {

  0% { -webkit-transform: translateY(0px); opacity: 1; }

  50% { -webkit-transform: translateY(12px); opacity: 1; }

  51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }

}

@keyframes animationBurgerTop {

  0% { transform: translateY(0px); opacity: 1; }

  50% { transform: translateY(12px); opacity: 1; }

  51%, 100% { transform: translateY(12px); opacity: 0; }

}

@-webkit-keyframes animationBurgerBottomReverse {

  0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }

  51% { -webkit-transform: translateY(-12px); opacity: 1; }

  100% { -webkit-transform: translateY(0px); opacity: 1; }

}

@keyframes animationBurgerBottomReverse {

  0%, 50% { transform: translateY(-12px); opacity: 0; }

  51% { transform: translateY(-12px); opacity: 1; }

  100% { transform: translateY(0px); opacity: 1; }

}

@-webkit-keyframes animationBurgerBottom {

  0% { -webkit-transform: translateY(0px); opacity: 1; }

  50% { -webkit-transform: translateY(-12px); opacity: 1; }

  51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }

}

@keyframes animationBurgerBottom {

  0% { transform: translateY(0px); opacity: 1; }

  50% { transform: translateY(-12px); opacity: 1; }

  51%, 100% { transform: translateY(-12px); opacity: 0; }

}

@keyframes clouds {

  100% {

    transform: translateX(550px);

  }

}

@keyframes sun {

  0% { box-shadow: 0 0 35px 0 #ff8; bottom: 180px; }

  50% { box-shadow: 0 0 95px 10px #ffde7c; bottom: 170px; }

  100% { box-shadow: 0 0 35px 0 #ff8; bottom: 180px; }

}

@-webkit-keyframes flap-r {

  0%,10% { border-top-width: 60px; }

  40%,60% { border-top-width: 10px; }

  100% { border-top-width: 60px; }

}

@-webkit-keyframes flap-l {

  0% { border-bottom-width: 0; }

  40%,60% { border-bottom-width: 40px; }

  100% { border-bottom-width: 0; }

}

@-webkit-keyframes fly {

  0% { opacity: 0; left: 0; top:100px; -webkit-transform:scale3d(0.4,0.4,1) }

  10% { opacity: 1; }

  80% { opacity: 1; }

  90% { opacity: 0; }

  100% { opacity: 0; left: 90%; top:100px; -webkit-transform:scale3d(0.6,0.6,1) }

}

@-webkit-keyframes bird {

  0% { top: 25px; }

  50% { top: 0; }

  100% { top: 25px; }

}